//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/home/bruh/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/bruh/.local/share/rofi/themes/nord.rasi"
//@theme "/home/bruh/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
@theme "/usr/share/rofi/themes/arthur.rasi"
